<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kochbuch</title>
</head>
<body>
<div class="container">
    <div class="iframe-container">

    </div>
    <div class="iframe-buttons-container">
        <button class="iframe-button">Vorherige Seite</button>
        <button class="chapter-button">Kapitel</button>
        <button class="iframe-button">N&auml;chste Seite</button>
    </div>
</div>

</body>
</html>